html {
    overflow-x: hidden;
}

button:focus, a.btn:focus,
button:active, a.btn:active {
    outline: none !important;
}

button, a.btn, label {
    font-weight: 200 !important;
}

h3, h4, h5, h2 {
    font-weight: 200 !important;
}

/*
    Upload image preview
*/

img.thumbnail {
    display: inline-block;
}

label {
    padding: 5px;
}

label.alert-danger {
    margin-right: 5px;
}

img.post-image-grid {
    width: 30%;
    margin-right: 5px;
    height: auto;

}

img.post-image-double {
    width: 48%;
    margin-left: 5px;
    max-height: 350px;
    height: auto;

}

img.post-image-single {
    width: auto;
    height: auto;
}

textarea {
    resize: none;
}

label#file-upload-btn {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 39px;
    color: #ffff;
}

label#file-upload-btn input[type=file] {
    opacity: .0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.post-comment-block {
    padding-left: 10px;
    border-left: 2px solid #df691a;
}

.post-comment-content {

    padding-left: 5px;
    font-size: 14px;
}

img#user-profile-avatar {
    margin-right: 20px;
}

.content-header {
    position: relative;
}

.content-header:before {
    content: '';
    width: 40px;
    height: 1px;
    background: #FFFFFF;
    position: absolute;
    right: -45px;
    top: 22px;
}

.content-header:after {
    content: '';
    width: 40px;
    height: 1px;
    background: #FFFFFF;
    position: absolute;
    left: -45px;
    top: 22px;
}

div#post-edit div.modal-content {
    padding: 16px;
}

