<div class="container" ng-controller="DashboardController">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>
                {{user.name}}
            </h4>
            <h5>{{user.email}}</h5>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-right">
            <br>
            <a href="/logout" class="btn btn-danger">logout</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
            <br>
            <label class="alert-danger" ng-repeat="(name, err) in errors track by $index">{{name}}:
                <span ng-repeat="e in err">{{e}}</span> </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
            <br>
            <h5>Create post</h5>
            <form ng-submit="sendPost()">
                <div class="form-group">
                    <textarea class="form-control" ng-model="post.content" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <img class="thumbnail img-responsive post-image-grid"
                         ng-repeat="file in preview track by $index"
                         ng-click="dropFileFromUpload($index)"
                         ng-src="{{file}}"
                         alt="">
                </div>

                <div class="form-group text-right">
                    <label id="file-upload-btn" class="btn  btn-primary">
                        choose photo
                        <input type="file" onchange="angular.element(this).scope().createPreview(this)" multiple>
                    </label>
                    <button type="submit" class="btn btn-primary">create post</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class=" text-center"><span class="content-header">Dashboard</span></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
            <div class="post" ng-model="post_block" ng-repeat="post in posts|filter:created_at"
                 ng-controller="PostController">
                <br>
                <h3>{{post.user.name }}</h3>
                <br>
                <div class="form-group text-right" ng-if="post.user_id == user.id">
                    <button class="btn btn-primary btn-sm" ng-click="editPost(post)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="deletePost(post.id)"><i class="fa fa-times"
                                                                                             aria-hidden="true"></i>
                    </button>
                </div>
                <div class="post-photo-block text-center">
                    <img class="thumbnail img-responsive"
                         ng-repeat="p in post.photo track by $index"
                         ng-class="{'post-image-grid':(post.photo.length>2),'post-image-double':(post.photo.length==2),
                                                                          'post-image-single':(post.photo.length==1) }"
                         ng-src="file/{{p.link}}">
                </div>
                <p class="post-content">
                    {{post.content}}
                </p>
                <br>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">

                        <button class="btn btn-default" ng-click="doLike(post.id)">
                            <i class="fa  {{checkLike(post.like)?'fa-heart':'fa-heart-o'}}" aria-hidden="true"></i>
                            {{post.like.length>0?post.like.length:''}}
                        </button>
                        <button class="btn btn-default" ng-click="doBlock(post.id)">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                        <label>{{post.created_at}} </label>
                        <br>
                        <label ng-show="post.created_at!=post.updated_at"> last update:&nbsp {{post.updated_at}}</label>
                    </div>
                </div>
                <div>
                    <label>comment this post:</label>
                    <textarea class="form-control" rows="2" ng-model="comment.comment"></textarea>
                    <div class="form-group text-right">
                        <br>
                        <button class="btn btn-default" ng-click="postComment(post.id)"><i class="fa fa-paper-plane"
                                                                                           aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div ng-repeat="comment in post.comment">
                    <dir-comment comment="comment"></dir-comment>
                </div>
                <!--  <div class="post-comment-block" ng-controller="PostCommentController">
                      <div ng-repeat="comment in post.comment" >
                          <h4>{{comment.user.name}}</h4>
                          <div ng-if="comment.user.id== user.id" class="text-right">
                              <button class="btn btn-primary btn-sm">edit</button>
                              <button class="btn btn-primary btn-sm">remove</button>
                          </div>
                          <div class="form-group post-comment-content">
                              <p>
                                  {{comment.content}}
                              </p>
                              <div class="text-right">
                                  <label> commented at &nbsp{{comment.created_at}} </label>
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" ng-model="sub_comment.comment" class="form-control">
                                      <span class="input-group-btn">
                                  <button class="btn btn-default" ng-click="commentComment(comment.post_id,comment.id)"
                                          type="button">send</button>
                                </span>
                                  </div>
                              </div>
                              <div class="form-group">

                              </div>
                          </div>
                      </div>
                  </div>-->
                <hr>
            </div>
        </div>
    </div>


    <div class="modal fade" id="post-edit" ng-controller="PostEditController">
        <div class="modal-dialog">

            <div class="modal-content ">
                <div id="post-edit-control">
                    <p class="navbar-text pull-right">
                        <a class="navbar-link" ng-click="postSave()">Save</a>
                    </p>
                </div>
                <div class="post">
                    <br>
                    <h3>{{targetPost.user.name }}</h3>
                    <br>
                    <div class="post-photo-block">
                        <img class="thumbnail img-responsive post-image-grid"
                             ng-repeat="p in targetPost.photo track by $index"
                             ng-click="removePhoto(p.id)"
                             width="300"
                             ng-src="file/{{p.link}}">

                        <img class="thumbnail img-responsive post-image-grid"
                             ng-repeat="p in preview track by $index"
                             ng-click="removePhotoFromPreview($index)"
                             width="300"
                             ng-src="{{preview[$index]}}">

                    </div>
                    <div class="form-group text-right">
                        <input type="file" onchange="angular.element(this).scope().createPreview(this)" multiple>
                    </div>
                    <textarea class="form-control" rows="10" ng-model="targetPost.content"
                              class="post-content"></textarea>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                            <label>{{targetPost.created_at}} </label>
                        </div>
                    </div>
                    <div ng-repeat="comment in targetPost.comment">
                        <dir-comment commentInput="false" comment="comment"></dir-comment>
                    </div>
                    <!--  <div class="post-comment-block" ng-controller="PostCommentController">
                          <div ng-repeat="comment in post.comment" >
                              <h4>{{comment.user.name}}</h4>
                              <div ng-if="comment.user.id== user.id" class="text-right">
                                  <button class="btn btn-primary btn-sm">edit</button>
                                  <button class="btn btn-primary btn-sm">remove</button>
                              </div>
                              <div class="form-group post-comment-content">
                                  <p>
                                      {{comment.content}}
                                  </p>
                                  <div class="text-right">
                                      <label> commented at &nbsp{{comment.created_at}} </label>
                                  </div>
                                  <div class="form-group">
                                      <div class="input-group">
                                          <input type="text" ng-model="sub_comment.comment" class="form-control">
                                          <span class="input-group-btn">
                                      <button class="btn btn-default" ng-click="commentComment(comment.post_id,comment.id)"
                                              type="button">send</button>
                                    </span>
                                      </div>
                                  </div>
                                  <div class="form-group">

                                  </div>
                              </div>
                          </div>
                      </div>-->
                    <hr>
                </div>
            </div><!-- /.modal-content -->
        </div> <!--/.modal-dialog-->
    </div><!-- /.modal -->
</div><!-- /.modal -->
</div>