<div class="post-comment-block">
    <br>
    <h4>{{comment.user.name}}</h4>
    <div ng-if="comment.user.id== user.id || comment.post.user_id==user.id" class="text-right">
        <button class="btn btn-primary btn-sm" ng-click="deleteComment(comment.id)"><i class="fa fa-times"
                                                                                       aria-hidden="true"></i></button>
    </div>
    <div class="form-group post-comment-content">
        <p>
            {{comment.content}}
        </p>
        <div class="text-right">
            <label>{{comment.created_at}} </label>
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-default" ng-click="doCommentLike(comment.post_id,comment.id)">
                    <i class="fa  {{checkCommentLike(comment.like)?'fa-heart':'fa-heart-o'}}" aria-hidden="true"></i>
                    {{comment.like.length>0?comment.like.length:''}}
                </button>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="input-group">
                    <input type="text" ng-model="sub_comment.comment" class="form-control">
                    <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="commentComment(comment.post_id,comment.id)"
                            type="button">
                        <i class="fa fa-share" aria-hidden="true">
                    </i>
                    </button>
                </span>
                </div>
            </div>

        </div>
        <br>
        <div class="form-group">
            <div ng-repeat="c in comment.children">
                <dir-comment commentInput="showInput" comment="c"></dir-comment>
            </div>
        </div>
    </div>

</div>