<div class="container" ng-controller="ModuleLoginController">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br>
            <label class="alert-danger" ng-repeat="(name, err) in errors">{{name}}:
                <span ng-repeat="e in err track by $index">{{err[$index]}}</span> </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-controller="SingUpController">
            <form ng-submit="singUp()">
                <h5>Sing up:</h5>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" ng-model="user.email"  name="mail" placeholder="email...">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" ng-model="user.password"   name="password"
                           placeholder="password...">
                </div>

                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" ng-model="user.name" id="" placeholder="name...">
                </div>

                <div class="form-group text-right">
                    <button  name="btnSingUp" type="submit" class="btn btn-primary">Sing up</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <hr class="hidden-lg hidden-md">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <form ng-submit="singIn()" ng-controller="SingInController">
                <h5>Sing in:</h5>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" ng-model="user.email" name="r_email" placeholder="email...">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" ng-model="user.password" name="r_password" placeholder="password...">
                </div>
                <div class="form-group text-right">
                    <button name="btnSingIn" type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>

</div>